---
pagination:
    data: episodes
    size: 1
    alias: episode
permalink: "ep/{{ episode.name | ep_num }}/"
layout: "layouts/main.njk"
---

{% import "components/item.njk" as item %}

<div class="episode_header">
    <a href="/">back</a>
    <h2>Episode {{ episode.name | ep_num }}</h2>
    <a href="{{episode.url}}">🔊 Episode page</a>
</div>

{% for discovery in discoveries %}
    {% if discovery.episode.name == episode.name %}
        {{ item.item(discovery)}}
    {% endif %}
{% endfor %}
