:root {
    --background: #212121;
    --foreground: #eee;
    --link:#71ffaf;
    --visited: #c971ff;
}

html, body {
    background-color: var(--background);
    color: var(--foreground);
}

body {
    text-align: center;
}

main {
    margin-top: 10rem;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited);
}



section {
    max-width: 40rem;
    margin: 0 auto 3rem auto;
    text-align: left;
}
