
{% macro item(discovery, date=true) %}
    <section>
        <a href="{{ discovery.url }}"><h2>{{discovery.name}}</h2></a>
        <p>{{discovery.description}}</p>
        <a href="/ep/{{discovery.episode.name | ep_num}}">Episode {{discovery.episode.name | ep_num}}</a>
        {% if date %}
             - {{discovery.episode.date}}
        {% endif %}
    </section>
{% endmacro %}
