
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Late Night Linux Discoveries</title>

    <link rel="stylesheet" href="/_styles/main.css" />

</head>

<body>
    <h1>Late Night Linux Discoveries</h1>
    <p>Discoveries from the <a href="https://latenightlinux.com/">Late Night Linux Podcast</a></p>
    <main>
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>
    <footer>
        <a href="https://github.com/davidbenque/lnl-disco">GitHub</a>
    </footer>

</body>

</html>